In [2]:
import pandas as pd

# a. Read data and display summary
df = pd.read_csv("data/airquality.csv")
df.head(5)

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,24-11-2017,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN
1,AP001,25-11-2017,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,26-11-2017,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,27-11-2017,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,28-11-2017,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate

In [3]:
df_summary = df.describe(include='all')
df_summary  # 🔹 Summary of the dataset

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
count,108035,108035,86410.000000,65329.000000,90929.000000,91488.000000,92535.000000,59930.000000,95037.000000,82831.000000,82467.000000,76580.000000,69333.000000,22898.000000,87025.000000,87025
unique,110,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
top,DL007,01-07-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Moderate
freq,2009,108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29417
mean,NaN,NaN,80.272571,157.968427,23.123424,35.240760,41.195055,28.732875,1.605749,12.257634,38.134836,3.358029,15.345394,2.423446,179.749290,NaN
std,NaN,NaN,76.526403,123.418672,34.491019,29.510827,45.145976,24.897797,4.369578,12.984723,39.128004,11.156234,29.348587,6.472409,131.324339,NaN
min,NaN,NaN,0.020000,0.010000,0.010000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,8.000000,NaN
25%,NaN,NaN,31.880000,70.150000,4.840000,15.090000,13.970000,11.900000,0.530000,5.040000,18.895000,0.160000,0.690000,0.000000,86.000000,NaN
50%,NaN,NaN,55.950000,122.090000,10.290000,27.210000,26.660000,23.590000,0.910000,8.950000,30.840000,1.210000,4.330000,0.400000,132.000000,NaN
75%,NaN,NaN,99.920000,208.670000,24.980000,46.930000,50.500000,38.137500,1.450000,14.920000,47.140000,3.610000,17.510000,2.110000,254.000000,NaN
max,NaN,NaN,1000.000000,1000.000000,470.000000,448.050000,467.630000,418.900000,175.810000,195.650000,963.000000,455.030000,454.850000,170.370000,2049.000000,NaN

In [4]:
# b. Create data subsets
subset1 = df.iloc[11:50]  # Observations from index 11 to 49
subset2 = df[df['PM2.5'] < 60]  # Temperature not present, using PM2.5 < 60
subset1  # 🔹 Subset 1
subset2  # 🔹 Subset 2

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
16,AP001,10-12-2017,50.32,102.77,1.73,33.85,19.41,12.56,0.10,13.65,68.15,0.20,4.29,0.10,132.0,Moderate
17,AP001,11-12-2017,58.47,115.27,4.93,41.64,26.15,15.20,0.16,18.37,73.75,0.23,5.51,0.16,147.0,Moderate
36,AP001,30-12-2017,56.68,109.33,4.60,33.26,21.44,16.86,0.10,8.26,66.91,0.25,3.28,0.14,120.0,Moderate
38,AP001,01-01-2018,59.03,108.83,3.45,23.36,15.23,18.03,0.09,26.05,87.55,0.23,3.20,0.09,120.0,Moderate
70,AP001,02-02-2018,50.64,130.36,6.48,45.52,29.49,19.89,0.07,10.61,40.57,0.18,3.90,0.11,130.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,27-06-2020,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good
108031,WB013,28-06-2020,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory
108032,WB013,29-06-2020,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory
108033,WB013,30-06-2020,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory
108034,WB013,01-07-2020,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory

In [5]:
# c. Merge subsets
merged = pd.concat([subset1, subset2])
merged  # 🔹 Merged Data

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
11,AP001,05-12-2017,88.36,121.77,3.70,20.23,13.75,13.72,0.12,14.02,117.93,0.24,2.92,0.03,198.0,Moderate
12,AP001,06-12-2017,96.83,139.36,1.60,25.65,14.99,15.12,0.11,16.54,117.21,0.29,4.45,0.07,201.0,Poor
13,AP001,07-12-2017,117.46,181.64,4.26,41.10,25.32,17.34,0.13,28.79,94.63,0.36,6.21,0.17,252.0,Poor
14,AP001,08-12-2017,122.88,208.86,5.56,54.87,33.71,17.96,0.27,22.97,68.60,0.36,6.28,0.21,310.0,Very Poor
15,AP001,09-12-2017,74.28,141.22,6.10,44.97,28.88,15.73,0.09,21.90,60.62,0.26,4.79,0.16,196.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,27-06-2020,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good
108031,WB013,28-06-2020,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory
108032,WB013,29-06-2020,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory
108033,WB013,30-06-2020,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory
108034,WB013,01-07-2020,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory

In [6]:
# d. Sort data by PM2.5 (as closest to Temp in air quality context)
sorted_df = df.sort_values(by='PM2.5')
sorted_df  # 🔹 Sorted Data

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
59542,KA003,03-10-2018,0.02,NaN,8.24,22.05,30.29,NaN,0.77,4.95,20.40,0.00,0.0,NaN,NaN,NaN
93168,TN001,04-04-2018,0.02,NaN,4.22,6.71,5.55,NaN,0.96,4.35,43.51,1.30,1.3,NaN,NaN,NaN
78636,OD002,25-09-2019,0.04,14.30,NaN,NaN,0.00,NaN,0.65,1.29,17.17,0.43,NaN,NaN,51.0,Satisfactory
72647,MH005,15-12-2019,0.15,53.66,21.54,33.80,55.35,NaN,3.81,46.45,35.71,0.08,NaN,NaN,122.0,Moderate
77049,MZ001,27-06-2020,0.16,3.16,11.69,0.07,15.41,22.42,0.02,1.08,1.29,NaN,NaN,NaN,19.0,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107989,WB013,17-05-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107990,WB013,18-05-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107991,WB013,19-05-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107992,WB013,20-05-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107993,WB013,21-05-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN